* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*  border: 1px solid rgba(255, 0, 0, 0);*/
}
.mb-15{
    margin-bottom: 15px;
}
.mb-50{
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    padding: 20px 28px;
}

.name {
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 600;
    font-size: 25px;
    font-family: 'PT Serif';
}

ul li {
    display: inline;
    /* Отображать как строчный элемент */
    margin-right: 5px;
    /* Отступ слева */
    padding: 3px;
    /* Поля вокруг текста */
}

header ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    transition: color 0.4s;
}

ul li a:hover {
    color: #c9a96e
}

.hero {
    background-image: url(Your\ images\ here.jpg);
    padding: 30% 20% 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    width: 30%;


}

.hero div:first-child {

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 560px;

    color: #FFFFFF;

}

.hero div:nth-child(2) {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    width: 560px;
    /* or 125% */

    color: #FFFFFF;
}

.hero div:last-child {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    width: 560px;


    color: #FFFFFF;

}

.combine {
    display: flex;
    margin: 60px 20%;
    justify-content: space-between;
}

main {
    width: 70%;
    margin-right: 100px;
}

main .post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 30px;
}

.post_item {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.inner_text {
    padding: 5px;
}

.inner_text div {
    margin-bottom: 10px;
}

.post_item img {
    max-width: 100%;
}

.post_full {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.post_full img {
    max-width: 100%;
}

sidebar {
    width: 250px;
}

sidebar .post_item {
    margin-bottom: 15px;
}

sidebar .about_item {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 40px;
    text-align: center;
}

sidebar .about_item img {
    max-width: 100%;
}

span {
    color: #B1B1B1;
}

.color_gray {
    color: #666666;
}

.color_litegray {
    color: #B1B1B1;
}

.color_gold {
    color: #C9A96E;
}

.line {
    border: 1px solid #E5E5E5;
}

.mask {
    border: 1px solid #E5E5E5;
    margin-bottom: 18px;
    text-align: center;
    padding: 15px;

}

.display_flex {
    display: flex;
    justify-content:space-between;
    color: #666666;
    padding: 10px;
}
.followers_table{
    margin-bottom:25px;
}
.grid-container{
    display: grid;
    grid:repeat(3,4em)/repeat(3,4em);
    gap:10px 10px

}
.grid_item{
    text-align: center;
    padding: 10px;
    color:white;
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.grid-container .grid_item span{
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}
.grid-container .grid_item img{
    max-width: 100%;
}
.grid-container2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px 10px;
}
.grid_item2{
    color: #666666;
    text-align: center;
    font-size:12px;
    background-color: #F8F9FA;
    padding: 5px;
}

.pagination{
    display: grid;
    grid-template-columns:1fr repeat(5,50px) 1fr;
    border: #B1B1B1 solid 1px;
   
}
.pagination div{
    padding:5px;
    font-size: 14px;
    text-align: center;
}
.pagination div:first-child{
    color: #A2A2A2;
}
.pagination div:first-child img{
    margin-right:5px;
}
.pagination div:last-child img{
    margin-left:5px;
}
.inst_name{
    text-align: center;
    font-size:24px;
    font-family:'PT Serif';
    margin-bottom: 30px;
}
.Bitmap{
    display: grid;
    grid-template-columns:repeat(6,225px);
    margin-bottom: 60px;
}
.Bitmap img{
    max-width: 100%;
}
.Bitmap div{
    margin-right: 15px;
}
.Bitmap div:first-child{
    margin-left: 15px;
}
.logotype{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    font-family: 'PT Serif';
    margin-bottom:60px;
}
.footer_menu{
    text-align: center;
    margin-bottom: 40px;
}
footer ul li a {
    text-decoration: none;
    color: #666666;
    font-weight: 400;
    transition: color 0.4s;
}
.social_logo{
    display: grid;
    grid-template-columns:repeat(6,40px);
    justify-content: center;
    margin-bottom: 80px;
}
.data_site{
    text-align: center;
    color: #666666;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}